@model ShoppingStore_DlloSat.DAL.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <partial name="../Shared/PartialViews/_CountryDetailsDelete" />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Regresar al menú anterior</a>
</div>
